[include]
	path = ~/.gitconfig-local
[user]
	name = Mitchell Roe
[alias]
	a = add
	aa = add -A
	ba = branch -a
	c = commit
	cf = clean -f
	cmsg = commit -m
	co = checkout
	d = diff
	dc = diff --cached
	f = fetch
	fa = fetch --all
	fap = fetch --all --prune
	l = pull
	loga = log --oneline --decorate --graph --all
	logo = log --oneline --decorate --graph
	m = merge
	p = push
	s = status
	sm = submodule
	sw = switch
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = true
