[include]
	path = ~/.gitconfig-local
[user]
	name = Mitchell Roe
[alias]
	a = add
	aa = add -A
	ai = add -i
	b = branch
	ba = branch -a
	bd = branch -d
	bdf = branch -D
	br = branch -r
	c = commit
	ca = commit --amend
	cf = clean -f
	cmsg = commit -m
	co = checkout
	d = diff
	dc = diff --cached
	f = fetch
	fa = fetch --all
	fap = fetch --all --prune
	l = pull
	loga = log --oneline --decorate --graph --all
	logo = log --oneline --decorate --graph
	logs = log --stat
	m = merge
	p = push
	s = status --short
	st = status
	stv = status -vv
	sm = submodule
	sw = switch
	swc = switch -c
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = true
[core]
	excludesFile = ~/.gitignore_global
